*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}

html, body{
    height: 100%;
    width: 100%;
}
#Ground
{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    height: 200px;
    width: 400px;
    border: 1px solid rgb(0, 0, 0) ;
}
